/* Cambyze home page style sheet */
.chp-social a:hover {
	text-decoration: none;
	background-color: #e0e0e0;
}

div.chp-main-moore {
	width: 100%;
	height: 20rem;
	background-image: url('../images/moore01.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

div.chp-menu ul li {
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: left;
	border-bottom: 1px solid #fff;
	align-items: center;
	text-align: left;
}

div.chp-menu ul li a:hover {
	background-color: #dfdfff;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

div.chp-menu ul li a.current, ul.chp-menu li a.current:hover {
	background-color: #dfdfff;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

/**** LANDSCAPE ****/
@media all and (min-aspect-ratio: 8/7) {
	.chp-body {
		display: flex;
		flex-direction: column;
		color: #0000ff;
		font-family: 'font-family: ' Bookman Old Style ', serif;;
		font-size: 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.chp-body, html, body {
		height: 100%;
		margin: 0;
	}
	.chp-banner {
		height: 7rem;
		margin-top: 2rem;
		background-color: #f2f2ff;
		padding: 0;
		margin-bottom: 1rem;
		border: 1px solid #f2f2ff;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.chp-banner-url {
		text-decoration: none;
		color: #00008c;
	}
	.chp-banner-url img {
		width: 15rem;
		height: 5rem;
	}
	.chp-banner-title {
		text-transform: uppercase;
		font-family: Courier, monospace;
		font-size: 2rem;
		letter-spacing: 1rem;
	}
	.chp-banner-inner {
		padding: 0 0 0 2rem;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
	}
	.chp-bar {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #0000ff;
		margin-left: 2rem;
		margin-bottom: 1rem;
	}
	.chp-nav-bar {
		padding: 0;
		margin: 0;
		display: flex;
	}
	.chp-nav-bar-item {
		/* font-weight: bold; */
		font-size: 1.5rem;
		text-transform: uppercase;
		color: #00008c;
		margin-right: 3rem;
	}
	.chp-social {
		float: right;
		max-height: 3rem;
		margin-top: -1px;
		z-index: 101;
		overflow: hidden;
	}
	.chp-social a {
		color: #fff;
		font-size: 2.3rem;
		padding: 1px 1px 1px 1px;
		transition: all .2s;
	}
	.chp-social a img {
		widht: 3rem;
		height: 3rem;
	}
	div.chp-main {
		flex: 2;
		display: flex;
		margin-bottom: 1rem;
		flex-direction: row;
	}
	div.chp-main-box {
		margin-left: 2rem;
		border: 1px solid #0000ff;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		flex: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #0000ff;
	}
	div.chp-menu {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: left;
		width: 20rem;
		background-color: #eaeaff;
		color: #00008c;
		margin-left: 2rem;
		border: 1px solid #eaeaff;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	div.chp-menu ul {
		list-style-type: none;
		font-size: 1.3rem;
		padding: 0;
		margin: 0;
	}
	div.chp-menu ul li a {
		display: flex;
		justify-content: left;
		align-items: center;
		text-decoration: none;
		padding: 0 0 0 2rem;
		width: 18rem;
		height: 3rem;
		color: #00008c;
	}
	.chp-footer {
		display: flex;
		background-color: #f2f2ff;
		padding: 0 0 0 2rem;
		margin-bottom: 1rem;
		border: 1px solid #f2f2ff;
		border-top-left-radius: 0.3rem;
		border-top-right-radius: 0.3rem;
		border-bottom-left-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;
	}
}

/**** PORTRAIT ****/
@media all and (max-aspect-ratio: 8/7) {
	.chp-body {
		display: flex;
		flex-direction: column;
		color: #0000ff;
		font-family: 'font-family: ' Bookman Old Style ', serif;;
		font-size: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.chp-body, html, body {
		height: 40rem;
		width: 40rem;
		margin: 0;
	}
	.chp-banner {
		height: 4rem;
		margin-top: 0.5rem;
		background-color: #f2f2ff;
		padding: 0;
		margin-bottom: 0.2rem;
		border: 1px solid #f2f2ff;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.chp-banner-url {
		text-decoration: none;
		color: #00008c;
	}
	.chp-banner-url img {
		width: 10rem;
		height: 3rem;
	}
	.chp-banner-title {
		text-transform: uppercase;
		font-family: Courier, monospace;
		font-size: 2rem;
		letter-spacing: 1rem;
	}
	.chp-banner-inner {
		padding: 0 0 0 3rem;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
	}
	.chp-bar {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #0000ff;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		margin-bottom: 1rem;
	}
	.chp-nav-bar {
		padding: 0;
		margin: 0;
		display: flex;
	}
	.chp-nav-bar-item {
		/* font-weight: bold; */
		font-size: 1rem;
		text-transform: uppercase;
		color: #00008c;
		margin-right: 1.5rem;
	}	
	.chp-social {
		float: right;
		max-height: 1.8rem;
		margin-top: -1px;
		z-index: 101;
		overflow: hidden;
	}
	.chp-social a {
		color: #fff;
		font-size: 1rem;
		padding: 1px 1px 1px 1px;
	}
	.chp-social a img {
		widht: 1.8rem;
		height: 1.8rem;
	}
	div.chp-main {
		flex: 2;
		display: flex;
		margin-bottom: 0.5rem;
		flex-direction: column;
	}
	div.chp-main-box {
		width: 35rem;
		margin-left: 1rem;
		margin-top: 0.5rem;
		border: 1px solid #0000ff;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		flex: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #0000ff;
		border: 1px solid #0000ff;
	}
	div.chp-menu {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: left;
		width: 35rem;
		background-color: #eaeaff;
		color: #00008c;
		margin-left: 1rem;
		border: 1px solid #eaeaff;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	div.chp-menu ul {
		list-style-type: none;
		font-size: 1rem;
		padding: 0;
		margin: 0;
	}
	div.chp-menu ul li a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		padding: 0 0 0 1rem;
		width: 35rem;
		height: 1.5rem;
		color: #00008c;
	}
	.chp-footer {
		display: flex;
		background-color: #f2f2ff;
		padding: 0 0 0 1rem;
		margin-bottom: 0.5rem;
		border: 1px solid #f2f2ff;
		border-top-left-radius: 0.3rem;
		border-top-right-radius: 0.3rem;
		border-bottom-left-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;
	}
}